<%- include('partials/header'); %>

<div class= "jumbotron">
    <h1>About Us</h1>
</div>
</header>

<main>
    <div class= "about-body">
        <p>We are a very small group of people dedicated to getting the best, most up to date information as there are often many 
            misleading sites and myths out there about animal husbandry and plant care. This site currently exists to aid in that, and
            will later become a place for people to ask us questions, reptile breeding projects, bioactive setups, and artwork commissions
            from the founder. She is an artist as well as a nature lover and reptile breeder. She cares more about animals being treated
            properly, and with correct diet and setups, over profit. This organization isn't about making a profit, it's about making a
            difference.        
        </p>
    </div>
</main>

<%- include('partials/footer'); %>