<%- include('partials/header') -%>

<div class= "jumbotron">
    <h1>Green Thumbs Cold Bloods</h1>
</div>
</header>

<main>
    <div class= "main-body">
        <h3>Care Information for Reptiles, Plants, and Exotics</h3>
        <p>
            We specialize in reptilian species of all types, and anything from tropical to Arid plant species. There will be breeding projects
            for several species in the coming years as well as artwork commissions events and selling plants.
        </p>
    </div>
</main>

<%- include('partials/footer') -%>